body {
  background-image:url(https://image.winudf.com/v2/image/Y29tLkNhcldhbGxwcm8uRm9yZFdhbGxwYXBlcl9zY3JlZW5fNF8xNTM1ODQ5MTMzXzAxMg/screen-0.jpg?fakeurl=1&type=.webp);
  background-size:100%;
  background-repeat: repeat-y;
  background-attachment: fixed;
  height:100%;
  width:100%;
}
h1{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #fbf9f9;
}
.fipe-form{
  width: 212px;
  padding: 0%;
  margin: 0%;
  flex-wrap: wrap ;
  align-content: end;
  

}

  .pure-u-1{
    width: 111px;
    
  }
